<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true" position="end" class="example-sidenav">
    <div *ngFor="let graph of graphs">
      <ul *ngIf="graph.chart && graph.chart.data && graph.chart.data.datasets">
        <ul *ngFor="let dataset of graph.chart.data.datasets">
          <mat-form-field appearance="fill">
            <mat-label>{{dataset.label}}</mat-label>
            <mat-select>
              <mat-option *ngFor="let chart of graphs" (click)="changeGraphData(dataset.label, chart.id)">
                Graph {{chart.id}}
              </mat-option>
              <mat-option (click)="createNewGraphWithDataset(dataset.label)">
                New Graph
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ul>
      </ul>
    </div>
  </mat-sidenav>


  <mat-sidenav-content class="example-sidenav-content">
    <div id="graphsId">
      <ng-container *ngFor="let graph of graphs">
        <canvas id="dataChart{{graph.id}}" class="graph"></canvas>
      </ng-container>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="heure_tnp">
        <th mat-header-cell *matHeaderCellDef> Heure TNP </th>
        <td mat-cell *matCellDef="let element"> {{element.heure_tnp}} </td>
      </ng-container>

      <ng-container matColumnDef="sabp">
        <th mat-header-cell *matHeaderCellDef> SABP </th>
        <td mat-cell *matCellDef="let element"> {{element.sabp}} </td>
      </ng-container>

      <ng-container matColumnDef="dabp">
        <th mat-header-cell *matHeaderCellDef> DABP </th>
        <td mat-cell *matCellDef="let element"> {{element.dabp}} </td>
      </ng-container>

      <ng-container matColumnDef="mabp">
        <th mat-header-cell *matHeaderCellDef> MABP </th>
        <td mat-cell *matCellDef="let element"> {{element.mabp}} </td>
      </ng-container>

      <ng-container matColumnDef="hr">
        <th mat-header-cell *matHeaderCellDef> HR </th>
        <td mat-cell *matCellDef="let element"> {{element.hr}} </td>
      </ng-container>

      <ng-container matColumnDef="trigger">
        <th mat-header-cell *matHeaderCellDef> Trigger </th>
        <td mat-cell *matCellDef="let element"> {{element.trigger}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-sidenav-content>
</mat-sidenav-container>
