.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

ul{
  margin: 0px;
  padding: 0px;
}

.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
